!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Subsemnatul Bula
    %meta{:name => "description", :content => "Bancuri, Glume ... "}
    %meta{:name => "author", :content => "Serban Carlogea"}
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    %meta{:name => 'viewport', :content=>'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %script{:src => '/js/ga.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{:src => '/js/jquery.min.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{:src => '/js/jquery.tmpl.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{:src => '/js/main.js', :type => 'text/javascript', :charset => 'utf-8' }
    %link{:href => '/css/reset-min.css', :rel=>'stylesheet'}
    %link{:href => '/css/styles.css', :rel => 'stylesheet' }
    %body
      #header_container.shadow
        #header
          %a{:href => '/'}
            %img{:src=>'/images/home-icon.png'}
            %h1 Subsemnatul Bula
      #container
        #jokeswrapper
        #loader{ :style => "display:none;" }
          %center
            %img{ :src => 'images/loader.gif'}
        #showmore Show more
      %script{:type => 'text/x-jquery-tmpl', :id => 'jokeTmpl'}
        %ul{:class => 'joke', :data => '${_id}'}
          %ul.content
            {{tmpl(content) "#jokeContentTmpl"}}
      %script{:type => 'text/x-jquery-tmpl', :id => 'jokeContentTmpl'}
        %li ${}