body {
    font-family: monospace;
}
#header_container {
    background:#f5f5f5;
    border-bottom:1px solid #aaa;
    height:40px;
    left:0;
    position:fixed;
    width:100%;
    top:0;
}
#header{
    line-height:40px;
    margin: auto;
    width:100%;
}
#header a {
    text-decoration: none;
}
#header img {
    float: left;
    width: 24px;
    height: 24px;
    margin: 6px;
}
#header h1 {
    float: left;
    color:#ff4b33;
    font-size:18px;
    font-weight: bold;
}
#container {
    margin:0 auto;
    overflow:auto;
    padding:40px 0;
}
#content{}
.shadow {
    -moz-box-shadow: 0px 5px 25px #000;
    -webkit-box-shadow: 0px 5px 25px #000;
    box-shadow: 0px 5px 25px #ccc;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#cccccc')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#cccccc');
}

div#jokeswrapper, div#jokewrapper {
    padding: 10px;
    margin: 10px;
}
ul.joke:last-child {
    border: none;
}
ul.joke {
    padding: 15px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

div#showmore {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

div#showmore:hover {
    background-color: #ccc;
    border-color: #777;
}